@inherits UmbracoTemplatePage
<div style="margin: auto; text-align: center; font-size: 60px;">
    <img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/11537900_10153119829989145_3411264893457663223_o.jpg" />
</div>