<?xml version="1.0" encoding="utf-8"?>
<footprintConfiguration
  isDisabled="false">

  <cookies />

  <!-- MongoDB
  <mongoDb
    connectionString="mongodb://connection-string-here"
    database="myDatabase"
    collection="umbracoFootprint" />
  -->

  <!-- SQL
  <sql
    connectionStringName="umbracoDbDSN" />
  -->

  <!-- Customer.io
  <customerIo
    siteId="my-site-id"
    apiKey="my-api-key" />
  -->

  <email
    sender="your@email.here" />

  <profile>
    <profileFields>
      <profileField name="name" />
      <profileField name="email" />
      <profileField name="phone" />
    </profileFields>
  </profile>

</footprintConfiguration>
