<?xml version="1.0" encoding="utf-8"?>
<footprintConfiguration
  isDisabled="false">

  <cookies />

  <!--<segment
    writeKey="18cSle4Wd9Xu1ZosZ8ynFWYMA3EBzIrm" />-->

  <mongoDb
    connectionString="mongodb://localhost:27097/ncfootprintlive"
    database="ncfootprint"
    collection="novicellFootprint" />

  <sql
    connectionStringName="umbracoDbDSN" />

  <customerIo
    siteId="55133d7a9da34b4baefc"
    apiKey="dbb1395cb0bb001bd096" />

  <email
    sender="apn@novicell.dk" />

  <profile>
    <profileFields>
      <profileField name="email" />
      <profileField name="emailaddress" />
    </profileFields>
  </profile>


</footprintConfiguration>
