<umb-panel ng-controller="ncFootprint.Backoffice.ActionOverview.Controller" class="ncbt-section-panel">
    <umb-header>
        <div class="span7">
            <h1>Action List</h1>
        </div>
        <div class="span5">

        </div>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">
            <table id="segmentOverview" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="display: none;">Sort</th>
                        <th>Name</th>
                        <th>Alias</th>
                        <th width="20%">&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row"
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="node in visibleNodes track by $index">
                        <td>
                            <a href="#/ncbt/ncbt/base/actionedit-id-{{node.Id}}">{{node.DisplayName}}</a>
                        </td>
                        <td>
                            {{node.Alias}}
                        </td>
                        <td>
                            <a class="btn btn-mini hidden"
                               ncbt-confirm-click="Are you sure you wish to delete the action '{{node.DisplayName}}'?"
                               ncbt-confirmed-click="deleteNode(node.Id)">
                                <span class="icon icon-wrong"></span> Delete
                            </a>
                            <a class="btn btn-mini btn-success hidden" href="#/ncbt/ncbt/base/actionedit-id-{{node.Id}}">
                                <span class="icon icon-edit"></span> Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-success" href="#/ncbt/ncbt/base/actioncreate">
                <span class="icon icon-add"></span> Create
            </a>
        </div>
    </div>
</umb-panel>
