<form name="propertyForm" ng-submit="saveProperty()" ng-controller="ncFootprint.Backoffice.PropertyEdit.Controller">
    <umb-panel class="ncbt-section-panel">
        <umb-header tabs="tabs">
            <div class="span7">
                <h1>Edit property - {{data.node.DisplayName}}</h1>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-success" ng-disabled="propertyForm.$invalid">Save</button>
                    </div>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>

            <umb-tab id="tab1" rel="General">
                <umb-pane>
                    <!-- General -->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Id</label>
                                    <div class="controls">
                                        <input type="text" name="Id" readonly="" value="{{data.node.Id}}" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Name</label>
                                    <div class="controls">
                                        <input type="text" name="DisplayName" ng-model="data.node.DisplayName" placeholder="Property Name" required />
                                        <div class="error red" ng-show="propertyForm.DisplayName.$dirty && propertyForm.DisplayName.$invalid">
                                            <small class="error" ng-show="propertyForm.DisplayName.$error.required">
                                                Property name is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Alias</label>
                                    <div class="controls">
                                        <input type="text" name="Alias" ng-model="data.node.Alias" placeholder="Property Alias" required />
                                        <div class="error red" ng-show="propertyForm.Alias.$dirty && propertyForm.Alias.$invalid">
                                            <small class="error" ng-show="propertyForm.Alias.$error.required">
                                                Property alias is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Data Type</label>
                                    <div class="controls">
                                        <div class="select">
                                            <select ng-model="data.node.DataType" ng-options="(typeKey * 1) as typeValue for (typeKey, typeValue) in data.dataTypes">
                                                <option value="" ng-if="false"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Description</label>
                                    <div class="controls">
                                        <textarea class="input-xxlarge" name="Description" ng-model="data.node.Description" placeholder="Property Description" required></textarea>
                                        <div class="error red" ng-show="propertyForm.Description.$dirty && propertyForm.Description.$invalid">
                                            <small class="error" ng-show="propertyForm.Description.$error.required">
                                                Property description is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Examples</label>
                                    <div class="controls">
                                        <textarea class="input-xxlarge" name="Examples" ng-model="data.node.Examples" placeholder="Property Examples"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </umb-pane>
            </umb-tab>

        </umb-tab-view>

    </umb-panel>
</form>